﻿@model WebApplication.Models.Exercise

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="desc" for="exampleFormControlTextarea1">Текст</label>
                <textarea asp-for="Text" class="form-control" id="Description" rows="3" autofocus></textarea>
                <span asp-validation-for="Text" id="validDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerformAt" class="control-label">Дата выполнения задачи</label>
                <input asp-for="PerformAt" class="form-control" />
                <span asp-validation-for="PerformAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointedAt" class="control-label">Дата назначение задачи</label>
                <input asp-for="AppointedAt" class="form-control" />
                <span asp-validation-for="AppointedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
