﻿@model IEnumerable<WebApplication.Models.Exercise>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4 pb-3">Welcome</h1>
    <p>
        <a class="pr-5" asp-action="Excel">Выгрузить в excel</a>
        <a class="pl-5" asp-action="Create">Создать новую задачу</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Текст
                </th>
                <th>
                    Дата создание
                </th>
                <th>
                    Дата выполнение задачи
                </th>
                <th>
                    Дата назначение задачи
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointedAt)
                </td>
                <td>                 
                    @if(item.Status == Status.InExpired)
                    {
                        <button type="submit" id="status-@item.Id" class="btn btn-danger">@item.Status</button>
                    }
                    else if (item.Status == Status.InDone)
                    {
                        <button type="submit" id="status-@item.Id" class="btn btn-info" onclick="take(@item.Id)">Взять на работу</button>
                    }
                    else if (item.Status == Status.InProgress)
                    {
                        <button type="submit" id="status-@item.Id" class="btn btn-secondary">@item.Status</button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
