﻿@model WebApplication.ViewModels.RegisterViewModel
<div id="registerForm">
    <h3>Вход на сайт</h3>
    <form method="post" asp-controller="account" asp-action="register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label>Введите email</label><br />
        <input type="email" asp-for="Email" id="emailLogin" /> <br /><br />
        <label>Введите пароль</label><br />
        <input type="password" asp-for="Password" id="passwordLogin" /><br /><br />
        <label>Введите пароль еще раз</label><br />
        <input type="password" asp-for="PasswordConfirm" id="passwordLogin" /><br /><br />
        <input type="submit" id="submitLogin" value="Register" />
    </form>
</div>